Repository Syncano/syncano-node, pull requests merged in 2018-12, with the labels that each got.

#341 Possibility of sending headers with endpoint call
  packages/lib-js-core/src/query-builder.js
  packages/lib-js-core/test/unit/endpoint.js
Labels: CORE, FEATURE

#343 Support for locations (us1, eu1)
  packages/cli/src/commands/info.js
  packages/cli/src/commands/init.js
  packages/cli/src/commands/socket-list.js
  packages/cli/src/settings/accountSettings.js
  packages/cli/src/utils/init/init.js
  packages/cli/src/utils/raven.js
  packages/cli/src/utils/session.js
  packages/cli/tests/unit/utils-session.test.js
  packages/lib-js-client/src/index.ts
Labels: CLI, FEATURE

#345 Load 500 records per request instead of default 100
  packages/lib-js-core/src/data.js
  packages/lib-js-core/src/query-builder.js
  packages/lib-js-core/src/users.js
  packages/lib-js-core/test/unit/data.js
  packages/lib-js-core/test/unit/users.js
Labels: CORE

#346 Deploy refactor
  package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/cli.js
  packages/cli/src/commands/backups-create.js
  packages/cli/src/commands/backups-last.js
  packages/cli/src/commands/helpers/instance.js
  packages/cli/src/commands/socket-create.js
  packages/cli/src/commands/socket-deploy-hot.js
  packages/cli/src/commands/socket-deploy.js
  packages/cli/src/commands/socket-list.js
  packages/cli/src/settings/settings.js
  packages/cli/src/settings/socketSettings.js
  packages/cli/src/utils/debug.js
  packages/cli/src/utils/errors.js
  packages/cli/src/utils/init/init.js
  packages/cli/src/utils/session.js
  packages/cli/src/utils/sockets/sockets.js
  packages/cli/tests/unit/commands-socket-deploy.test.js
  packages/template-project-hello/template/syncano/hello/bin/compile-env
  packages/template-socket-es6/template/bin/compile-env
  packages/template-socket-es6/template/package.json
  packages/tests/e2e/cli/deploy.test-e2e.js
Labels: CLI, FEATURE

#349 Fix cjs require import
  packages/lib-js-core/src/index.ts
Labels: CORE

#351 Fix `with` method for loading more than 128 related objects
  packages/lib-js-core/package.json
  packages/lib-js-core/src/constants.ts
  packages/lib-js-core/src/data.ts
  packages/lib-js-core/src/index.ts
  packages/lib-js-core/src/utils.ts
  packages/lib-js-core/test/unit/__snapshots__/data.ts.snap
  packages/lib-js-core/test/unit/data.ts
Labels: CORE

#352 Add instance schema TS types
  packages/lib-js-core/src/cli-plugin.ts
  packages/lib-js-core/src/context.ts
  packages/lib-js-core/src/data.ts
  packages/lib-js-core/src/index.ts
  packages/lib-js-core/src/response.ts
  packages/lib-js-core/src/server.ts
  packages/lib-js-core/src/types.ts
Labels: CORE
