Repository Syncano/syncano-node, pull requests merged in 2018-09, with the labels that each got.

#256 Partial port to v3
  packages/lib-js-core/src/data.js
  packages/lib-js-core/src/instance.js
  packages/lib-js-core/src/query-builder.js
  packages/lib-js-core/src/users.js
  packages/lib-js-core/test/unit/data.js
  packages/lib-js-core/test/unit/endpoint.js
  packages/lib-js-core/test/unit/users.js
Labels: CORE, FEATURE

#262 fix(template): removed yarn from hello project template
  packages/template-project-hello/template/syncano/hello/package.json
Labels: FEATURE

#266 Cache invalidation by "endpoint.invalidate"
  packages/lib-js-core/src/endpoint.js
  packages/lib-js-core/test/unit/endpoint.js
Labels: CORE, FEATURE

#268 Updating docs
  docs/docs/.gitignore
  docs/docs/_sidebar.md
  docs/docs/building-sockets/core-library.md
  docs/docs/building-sockets/dependencies.md
  docs/docs/building-sockets/endpoints.md
  docs/docs/building-sockets/yaml-specification.md
  docs/docs/cli-reference/commands.md
  docs/docs/client-lib-reference/installation.md
  docs/docs/client-lib-reference/usage.md
  docs/docs/getting-started/intro.md
  docs/docs/getting-started/quickstart.md
  docs/docs/getting-started/sockets.md
  docs/docs/index.html
  docs/docs/package-lock.json
  docs/docs/package.json
  docs/docs/project/database.md
  docs/docs/project/hosting.md
  docs/docs/project/install-from-npm.md
  docs/docs/project/overview.md
  docs/docs/server-lib-reference/css/coverpage.css
  docs/docs/server-lib-reference/css/docs.css
  docs/docs/server-lib-reference/css/prism.css
  docs/docs/server-lib-reference/installation.md
  docs/docs/using-sockets/overview.md
  docs/docs/using-sockets/search-install.md
Labels: DOCS, FEATURE
