Repository Syncano/syncano-node, pull requests merged in 2018-11, with the labels that each got.

#313 Fixed broken link.
  docs/cookbook/web/database/creating-objects.md
Labels: BUG, DOCS

#314 Tweaked link in cookbook
  docs/cookbook/web/database/creating-objects.md
Labels: COOKBOOK

#307 Fixed listFiles() is listing only first 100 files
  packages/lib-js-core/src/hosting.js
  packages/lib-js-core/test/unit/hosting.js
Labels: BUG, CORE

#311 Updated creating project template
  docs/cookbook/web/deployment/create-project-template.md
Labels: COOKBOOK

#312 Updated cookbook about multiple accounts
  docs/cookbook/web/deployment/multiple-accounts.md
Labels: COOKBOOK

#324 Groups amendments
  packages/lib-js-core/src/backups.js
  packages/lib-js-core/src/groups.js
Labels: CORE

#323 Remove components form cli
  packages/cli/src/cli-component.js
  packages/cli/src/commands/component-link.js
  packages/cli/src/commands/component-list.js
  packages/cli/src/commands/index.js
  packages/cli/src/utils/component/component.js
  packages/cli/src/utils/component/index.js
  packages/cli/src/utils/context.js
Labels: CLI

#326 Groups cheatsheet
  docs/cheatsheet/web/index.html
Labels: DOCS

#325 Cli backups
  docs/cheatsheet/web/index.html
  packages/cli/package-lock.json
  packages/cli/src/cli-backups.js
  packages/cli/src/cli.js
  packages/cli/src/commands/backups-create.js
  packages/cli/src/commands/backups-delete.js
  packages/cli/src/commands/backups-last.js
  packages/cli/src/commands/backups-list.js
  packages/cli/src/commands/index.js
  packages/lib-js-core/src/backups.js
  packages/lib-js-core/test/unit/backups.js
Labels: CLI, CORE, DOCS

#328 Remove outdated "add" command
  packages/cli/src/cli.js
Labels: BUG, CLI

#329 Add instance name to Socket list command
  packages/cli/src/commands/socket-list.js
Labels: CLI, FEATURE

#330 Remove obsolete fields from Socket templates
  packages/template-project-hello/template/syncano/hello/socket.yml
  packages/template-socket-es6/template/socket.yml
  packages/template-socket-validate/template/socket.yml
  packages/template-socket-vanilla/template/socket.yml
Labels: CLI, FEATURE

#331 Prevent moving forward after wrong password
  packages/cli/src/commands/login.js
  packages/cli/tests/unit/commands-login.test.js
Labels: BUG, CLI

#332 Wrong text order during init
  packages/cli/src/commands/login.js
Labels: BUG, CLI

#333 Remove root level .gitignore file from hello template to prevent override
  packages/template-project-hello/template/.gitignore
Labels: BUG, CLI

#335 Update dependencies
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/lib-js-client/package-lock.json
  packages/lib-js-client/package.json
  packages/lib-js-core/package-lock.json
  packages/lib-js-core/package.json
  packages/lib-js-core/src/utils.js
  packages/lib-js-test/package-lock.json
  packages/lib-js-test/package.json
  packages/lib-js-validate/package-lock.json
  packages/lib-js-validate/package.json
  packages/lib-js-validate/src/index.js
  packages/test-tools/package.json
  packages/tests/package-lock.json
  packages/tests/package.json
Labels: FEATURE

#336 Run init after CLI install
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/postinstall
  packages/cli/src/commands/init.js
  packages/cli/src/utils/analytics.js
  packages/cli/src/utils/debug.js
  packages/cli/src/utils/session.js
  packages/cli/tests/unit/utils-session.test.js
  packages/lib-js-client/package.json
  packages/lib-js-core/package-lock.json
  packages/lib-js-core/package.json
  packages/lib-js-test/package.json
  packages/lib-js-validate/package.json
  packages/schema/package.json
  packages/template-project-hello/template/syncano/hello/package.json
  packages/template-socket-es6/template/package.json
  packages/template-socket-validate/template/package.json
  packages/test-tools/package.json
  packages/tests/assets/sockets/hello-config/package.json
  packages/tests/package-lock.json
  packages/tests/package.json
Labels: FEATURE

#337 Add support for v3 endpoints
  packages/lib-js-client/src/index.ts
  packages/lib-js-core/src/endpoint.js
  packages/lib-js-core/test/unit/endpoint.js
  packages/tests/e2e/client/main.js
Labels: CLIENT, FEATURE

#338 Cli backups date
  packages/cli/src/commands/backups-list.js
Labels: CLI
