Repository Syncano/syncano-node, pull requests merged in 2018-03, with the labels that each got.

#185 feat: handle mapped name in nested arrays
  packages/lib-js-core/package.json
  packages/lib-js-core/src/data.js
  packages/lib-js-core/test/unit/data.js
Labels: CORE, FEATURE

#188 Fix for empty Socket environments
  packages/cli/src/utils/sockets/sockets.js
Labels: BUG, CLI

#187 fix(core): with method broken for relations
  packages/lib-js-core/src/data.js
  packages/lib-js-core/test/unit/data.js
Labels: BUG, CORE

#189 Fixed invalid client node.js build
  packages/lib-js-client/package.json
Labels: BUG, CLIENT

#176 Docs/cookbook upload
  docs/cookbook/web/basics/file-upload.md
Labels: COOKBOOK

#186 Cookbook/data objects
  docs/cookbook/web/database/creating-objects.md
  docs/cookbook/web/database/object-relations.md
  test
Labels: COOKBOOK, DOCS

#193 Cleaning up some exit codes
  packages/cli/src/commands/socket-create.js
  packages/cli/src/commands/socket-publish.js
  packages/tests/e2e/cli/anonymous.test-e2e.js
  packages/tests/e2e/cli/config.test-e2e.js
  packages/tests/e2e/cli/deploy.test-e2e.js
  packages/tests/e2e/cli/hosting.test-e2e.js
  packages/tests/e2e/cli/init.test-e2e.js
  packages/tests/e2e/cli/instance.test-e2e.js
  packages/tests/e2e/cli/registry.test-e2e.js
  packages/tests/e2e/cli/socket.test-e2e.js
  packages/tests/e2e/client/main.js
Labels: BUG, CLI

#195 Fix registry deps
  packages/cli/src/commands/socket-add.js
  packages/cli/src/utils/sockets/sockets.js
Labels: BUG

#202 Fix for missing dependency
  packages/lib-js-client/package-lock.json
  packages/lib-js-client/package.json
Labels: BUG, CLIENT
