Repository Syncano/syncano-node, pull requests merged in 2018-10, with the labels that each got.

#270 Add .syncanoignore file support for hosting
  docs/docs/.syncanoignore
  docs/docs/building-sockets/basics.md
  packages/cli/src/utils/hosting/hosting.js
  packages/cli/src/utils/hosting/utils.js
  packages/cli/tests/unit/utils-hosting-utils.test.js
Labels: CLI, FEATURE

#281 Show source of the instance name for a project (npx s info)
  packages/cli/src/commands/info.js
Labels: CLI, FEATURE

#273 Fixed broken database link in sidebar
  docs/docs/_sidebar.md
Labels: DOCS

#272 docs(): removed registry from quickstart
  docs/docs/getting-started/sockets.md
Labels: DOCS

#283 Proper engines verification
  packages/cli/.npmrc
  packages/cli/package.json
  packages/tests/e2e/cli/instance.test-e2e.js
Labels: BUG

#284 Fix description in CLI (instance delete)
  packages/cli/src/cli-instance.js
Labels: BUG, CLI

#285 Update lib-js-client package-lock
  packages/lib-js-client/package-lock.json
Labels: BUG, CLIENT

#286 Sync files as a default option when adding hosting
  packages/cli/src/commands/hosting-add.js
  packages/cli/tests/unit/commands-hosting-add.test.js
  packages/tests/e2e/cli/hosting.test-e2e.js
Labels: CLI, FEATURE

#294 Updated cookbook docs
  docs/cookbook/web/database/creating-objects.md
Labels: DOCS

#300 Updated cookbook custom http status code section
  docs/cookbook/web/basics/custom-http-status-code.md
Labels: COOKBOOK

#302 Minor fixes in cookbook http response tutorials
  docs/cookbook/web/basics/custom-http-status-code.md
  docs/cookbook/web/basics/custom-mime-type.md
Labels: COOKBOOK

#289 Hello world tutorial in cookbook
  docs/cookbook/web/basics/hello-world.md
Labels: DOCS

#276 Remove registry from docs
  docs/cheatsheet/web/index.html
  docs/docs/common/changelog.md
  docs/docs/getting-started/sockets.md
Labels: DOCS

#293 Updated database docs and cheatsheet
  docs/cheatsheet/web/index.html
  docs/docs/project/database.md
Labels: DOCS

#233 Cookbook for face auth socket
  docs/cookbook/web/_sidebar.md
  docs/cookbook/web/solutions/face-auth.md
Labels: COOKBOOK, DOCS

#296 Channels
  docs/docs/_sidebar.md
  docs/docs/building-sockets/endpoints.md
  docs/docs/building-sockets/real-time-channels.md
  docs/docs/client-lib-reference/installation.md
Labels: DOCS

#298 What is Syncano sidebar link
  docs/docs/_sidebar.md
Labels: DOCS

#304 Remove registry
  packages/lib-js-core/src/registry.js
  packages/lib-js-core/src/server.js
Labels: CORE, FEATURE

#288 Updated docs core-api section
  docs/docs/building-sockets/core-api.md
Labels: DOCS

#295 Socket mapping
  docs/docs/project/hosting.md
Labels: DOCS

#305 Creating user account in cookbook
  docs/cookbook/web/users-groups/creating-user-account.md
Labels: DOCS

#308 Check and update cookbook
  docs/cookbook/web/basics/file-upload.md
Labels: COOKBOOK

#309 Add Groups Implementation to Syncano Core
  packages/lib-js-core/src/groups.js
  packages/lib-js-core/src/server.js
  packages/lib-js-core/test/unit/groups.js
Labels: CORE, FEATURE

#310 Checked and updated geopoints cookbook
  docs/cookbook/web/database/geopoints.md
Labels: DOCS

#303 Realtime cookbook
  docs/cookbook/web/_sidebar.md
  docs/cookbook/web/solutions/real-time-chat.md
Labels: COOKBOOK
