Repository Syncano/syncano-node, pull requests merged in 2018-02, with the labels that each got.

#142 Automatic socket `npm install` after socket create
  lerna.json
  packages/cli/src/commands/helpers/spinner.js
  packages/cli/src/commands/socket-create.js
  packages/cli/src/commands/socket-deploy-hot.js
  packages/cli/src/commands/socket-deploy.js
  packages/cli/src/utils/sockets/sockets.js
  packages/cli/tests/e2e/deploy.test-e2e.js
  packages/cli/tests/e2e/registry.test-e2e.js
  packages/cli/tests/e2e/socket.test-e2e.js
  packages/template-socket-es6/template/package.json
Labels: FEATURE

#144 Fix for uploading src files / Add .syncanoignore
  package-lock.json
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/sockets/sockets.js
  packages/registry/package.json
  packages/template-project-empty/package.json
  packages/template-project-hello/package.json
  packages/template-socket-vanilla/package.json
Labels: BUG, CLI, FEATURE

#152 New flag for hosting syncing: '--no-delete'
  packages/cli/src/cli-hosting.js
  packages/cli/src/commands/hosting-sync.js
  packages/cli/src/utils/hosting/hosting.js
  packages/lib-js-core/src/hosting.js
Labels: BUG, CLI, FEATURE

#153 Upgrading axios
  package-lock.json
  packages/lib-js-client/package-lock.json
  packages/lib-js-client/package.json
Labels: CLIENT, FEATURE

#154 Better support for unpkg
  packages/lib-js-client/package.json
Labels: CLIENT, FEATURE

#155 Normalizing config options names
  packages/cli/src/utils/sockets/sockets.js
Labels: CLI, FEATURE

#160 Improving the way hosting works
  packages/cli/src/utils/hosting/hosting.js
  packages/lib-js-core/src/hosting.js
  packages/lib-js-core/src/query-builder.js
Labels: BUG, CLI, FEATURE

#143 docs(cookbook): file upload recipe
  docs/cookbook/web/_sidebar.md
  docs/cookbook/web/basics/file-upload.md
Labels: DOCS

#161 Fix for client GET calls
  .circleci/config.yml
  packages/lib-js-client/.babelrc
  packages/lib-js-client/package-lock.json
  packages/lib-js-client/package.json
  packages/lib-js-client/src/index.js
  packages/lib-js-client/test/e2e/main.test.js
  packages/lib-js-client/test/unit.js
  packages/lib-js-client/webpack.config.js
Labels: BUG, CLIENT

#165 Fix for docs title typo
  docs/docs/index.html
Labels: BUG, DOCS

#167 Move e2e tests to higher level
  .circleci/config.yml
  packages/cli/package-lock.json
  packages/lib-js-core/test/e2e/registry.js
  packages/lib-js-validate/package.json
  packages/registry/syncano/registry/package.json
  packages/registry/syncano/registry/src/add.js
  packages/registry/syncano/registry/test/upload.test.js
  packages/test-tools/src/index.js
  packages/tests/assets/hosting_test/index.html
  packages/tests/assets/project/empty/syncano/syncano.yml
  packages/tests/assets/sockets/hello-config/.gitignore
  packages/tests/assets/sockets/hello-config/bin/compile
  packages/tests/assets/sockets/hello-config/bin/compile-env
  packages/tests/assets/sockets/hello-config/package.json
  packages/tests/assets/sockets/hello-config/socket.yml
  packages/tests/assets/sockets/hello-config/src/hello.js
  packages/tests/e2e/cli/anonymous.test-e2e.js
  packages/tests/e2e/cli/config.test-e2e.js
  packages/tests/e2e/cli/deploy.test-e2e.js
  packages/tests/e2e/cli/hosting.test-e2e.js
  packages/tests/e2e/cli/init.test-e2e.js
  packages/tests/e2e/cli/instance.test-e2e.js
  packages/tests/e2e/cli/registry.test-e2e.js
  packages/tests/e2e/cli/socket.test-e2e.js
  packages/tests/e2e/core/account.js
  packages/tests/e2e/core/assets/socket/.gitignore
  packages/tests/e2e/core/assets/socket/package.json
  packages/tests/e2e/core/assets/socket/socket.yml
  packages/tests/e2e/core/assets/socket/socket.zip
  packages/tests/e2e/core/assets/socket/src/get.es5.js
  packages/tests/e2e/core/assets/socket/src/get.js
  packages/tests/e2e/core/assets/test.jpg
  packages/tests/e2e/core/channel.js
  packages/tests/e2e/core/class.js
  packages/tests/e2e/core/data.js
  packages/tests/e2e/core/endpoint.js
  packages/tests/e2e/core/event.js
  packages/tests/e2e/core/instance.js
  packages/tests/e2e/core/registry.js
  packages/tests/e2e/core/server.js
  packages/tests/e2e/core/users.js
  packages/tests/e2e/registry/add.test.js
  packages/tests/e2e/registry/get.test.js
  packages/tests/e2e/registry/list.test.js
  packages/tests/e2e/registry/search.test.js
  packages/tests/e2e/registry/utils.js
  packages/tests/e2e/single/cli.call.test-e2e.js
  packages/tests/e2e/single/cli.hosting.test-e2e.js
  packages/tests/e2e/tutorials/assets/weather-bot/responder/package.json
  packages/tests/e2e/tutorials/assets/weather-bot/responder/scripts/response.js
  packages/tests/e2e/tutorials/assets/weather-bot/responder/socket.yml
  packages/tests/e2e/tutorials/quickstart.test-e2e.js
  packages/tests/e2e/tutorials/weather-bot.test-e2e.js
  packages/tests/e2e/utils.js
  packages/tests/e2e/validate/main.js
  packages/tests/e2e/validate/utils.js
  packages/tests/package.json
Labels: CLI, CORE, FEATURE

#177 Support for attach with '--create-instance'
  packages/cli/src/cli.js
  packages/cli/src/commands/attach.js
  packages/cli/src/commands/init.js
  packages/cli/src/commands/socket-deploy.js
  packages/cli/src/utils/init/init.js
  packages/cli/tests/unit/commands-attach.test.js
  packages/cli/tests/unit/utils-init-init.test.js
Labels: CLI, FEATURE
