Repository Syncano/syncano-node, pull requests merged in 2019-03, with the labels that each got.

#367 Fixed typo in cheatsheet
  docs/cheatsheet/web/index.html
Labels: DOCS

#369 Fix invalid response returned from getUserGroups method
  packages/lib-js-core/src/group.ts
  packages/lib-js-core/test/unit/group.ts
  packages/tests/e2e/cli/instance.test-e2e.js
Labels: BUG, CORE

#370 Add list and get methods to class
  packages/lib-js-core/src/class.ts
  packages/lib-js-core/src/types.ts
  packages/lib-js-core/test/unit/__snapshots__/class.ts.snap
  packages/lib-js-core/test/unit/__snapshots__/instance.ts.snap
  packages/lib-js-core/test/unit/class.ts
  packages/lib-js-core/test/unit/instance.ts
Labels: CORE, FEATURE

#363 feat: logout test
  packages/cli/src/commands/logout.ts
  packages/cli/test/commands/auth/logout.test.ts
Labels: TESTS
